body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f5f7;
}

*{
    box-sizing: border-box
}
hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
div#headerDiv{
    display: flex;
    padding: 14px 150px;
    background-color: white;
}
div#mainContainerDivId{
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-top: 25px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 10px 2px #638be2;
}
button:disabled{
    background-color: rgb(158, 202, 245);
    color: white;
    padding: 8px;    
    border: none;
    border-radius: 15px;
    cursor: not-allowed;
    margin-left: 100px;
    opacity: 0.9;
    float: right;
    margin-top: 40px;
}
  
button:enabled{
    background-color: rgb(18, 116, 213);
    color: white;
    padding: 8px;    
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 100px;
    opacity: 0.9;
    float: right;
    margin-top: 40px;
}
  
button:hover{
    opacity:1;
}
#mainContainerDivId img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;
}
#mainContainerDivId .jobRows p{
margin-left: 100px;
margin-top: 45px;

}
.jobRows,.jobHeading{
    margin-left:25px;
    margin-top: 10px;
    /* border: 1px solid slateblue; */
    height: 100px;
}

.jobRows div div, .jobHeading div div{
    width:18%
}
